@use '../_root' as *;

@media screen and (max-width: 480px) {
    .accordions {
        padding: 0;

        p {
            padding-bottom: 10px;
        }

        .MuiAccordion-root {
            padding: 0;

            .MuiAccordion-root {
                &:last-of-type {
                    margin-bottom: 20px;
                }
            }
        }
    }

    .collage {
        padding: max(10dvh, 20px) max(5vw, 20px);
    }

    .controls__map {
        justify-self: flex-end;
    }

    .controls__system {
        span {
            display: none;
        }

        svg {
            &:nth-of-type(3) {
                display: none;
            }

            &:nth-of-type(4) {
                display: none;
            }

            &:nth-of-type(5) {
                display: none;
            }
        }
    }

    .features {
        article {
            display: flex;
            height: 250px;
            justify-content: center;

            h2 {
                align-self: center;
                font-size: $font-4;
                margin: 10px 0;
            }

            p {
                margin: 0;
                padding: 0;
            }

            svg {
                font-size: $font-6;
            }
        }
    }

    .features__part-a {
        padding: 20px 10px;
    }

    .features__part-b {
        padding: 20px 10px;
    }

    .footer {
        padding: 0 10px 30px;
    }

    .footer__legal {
        ul {
            li {
                p {
                    font-size: $font-2;
                }
            }
        }
    }

    .footer__socials {
        svg {
            font-size: $font-4;
        }
    }

    .form {
        padding: 0;
    }

    .form__contact {
        background: $color-1;
        padding: 20px;

        button {
            background: $color-2;
        }

        h2 {
            font-size: $font-4;
        }

        .form__contact--field {
            input {
                background: $color-2;
                border-color: $color-2;
            }

            select {
                background-color: $color-2;
                border-color: $color-2;
            }

            textarea {
                background: $color-2;
                border-color: $color-2;
            }
        }
    }

    .hero {
        padding: 40px 10px;
    }

    .notifications {
        display: none;
    }

    .point {
        padding: 10px;
    }

    .point__actions {
        font-size: $font-3;
        justify-content: space-between;
        width: 100%;

        a {
            &:nth-of-type(1) {
                padding: 0 10px;
            }

            &:nth-of-type(2) {
                padding: 0 10px;
            }
        }
    }

    .point__map {
        margin-bottom: 10px;
    }

    .point__summary {
        margin-bottom: 10px;

        p {
            &:first-child {
                font-size: $font-3;
            }

            &:last-child {
                font-size: $font-3;
            }
        }
    }

    .policy {
        font-size: $font-2;
        padding: 20px 20px 10px;

        * {
            margin-bottom: 10px;
        }

        h4 {
            font-size: $font-4;
            margin-top: 20px;
        }

        h5 {
            font-size: $font-3;
            margin-top: 10px;
        }

        h6 {
            font-size: $font-2;
        }
    }

    .profile {
        padding: 20px 10px;
    }

    .profile__view {
        .profile__view--details {
            a {
                font-size: $font-3;

                &:nth-of-type(1) {
                    line-height: 20px;
                    margin-bottom: $font-2;
                }
            }

            p {
                &:nth-of-type(1) {
                    font-size: $font-3;
                    margin-bottom: $font-2;
                }

                &:nth-of-type(2) {
                    font-size: $font-3;
                    font-weight: 400;

                    img {
                        display: none;
                    }
                }

                &:nth-of-type(3) {
                    font-size: $font-3;
                    font-weight: 400;
                    margin-bottom: $font-2;
                }

                &:nth-of-type(4) {
                    margin-bottom: $font-2;
                }
            }
        }

        .profile__view--image {
            margin-bottom: $font-2;
        }

        &.opened {
            .profile__view--image {
                margin-bottom: $font-2;
            }
        }
    }

    .service {
        font-size: $font-2;
        padding: 20px 20px 10px;

        * {
            margin-bottom: 10px;
        }

        h4 {
            font-size: $font-4;
            margin-top: 20px;
        }

        h5 {
            font-size: $font-3;
            margin-top: 10px;
        }

        h6 {
            font-size: $font-2;
        }
    }

    .story__content {
        .story__content--item {
            article {
                margin-bottom: 0;
            }

            h2 {
                text-align: center;
            }

            h3 {
                text-align: center;
            }

            p {
                text-align: center;
            }

            &:nth-child(1) {
                margin-bottom: 20px;
                padding: 20px 0 0;
                width: 95%;
            }

            &:nth-child(2) {
                margin-bottom: 0;
                padding: 20px;

                img {
                    margin-bottom: 20px;
                    order: -1;
                }

                .story__content--trigger {
                    order: -1;
                }
            }

            &:nth-child(3) {
                background-color: $color-1;
                margin-bottom: 0;
                padding: 20px;

                img {
                    margin-bottom: 20px;
                    order: 1;
                }

                .story__content--trigger {
                    order: 0;
                }
            }

            &:nth-child(4) {
                margin-bottom: 0;
                padding: 20px;

                img {
                    margin-bottom: 20px;
                    order: -1;
                }

                .story__content--trigger {
                    order: -1;
                }
            }

            &:nth-child(5) {
                background-color: $color-1;
                margin-bottom: 0;
                padding: 20px;

                img {
                    margin-bottom: 20px;
                    order: 1;
                }

                .story__content--trigger {
                    order: 0;
                }
            }
        }
    }

    #about {
        padding: 0;
    }

    #error {
        section {
            h1 {
                font-size: $font-4;
            }
        }
    }

    #fallback {
        section {
            h1 {
                font-size: $font-4;
            }
        }
    }

    #not-found {
        section {
            h1 {
                font-size: $font-4;
            }
        }
    }
}