@use '../_root' as *;

@media (prefers-reduced-motion: reduce) {
    * {
        animation: none !important;
        opacity: 1 !important;
        transition: none !important;
    }
}

@media screen and (min-width: 2560px) {
    html {
        margin: auto;
        max-width: 2560px;
    }
}

@media screen and (max-width: 1920px) {}

@media screen and (max-width: 1600px) {
    .actions {
        height: 340px;
    }

    .actions__headings {
        .actions__headings--container {
            span {
                font-size: $font-6;
            }
        }
    }

    .point {
        &.opened {
            align-items: center;
            display: flex;
            flex-direction: column;
            gap: 0;

            .point__actions {
                display: flex;
                justify-content: space-evenly;
                margin-bottom: 10px;
                order: -2;
                width: 500px;

                a {
                    margin: 0;
                }
            }

            .point__map {
                margin-bottom: 40px;
            }

            .point__summary {
                margin-bottom: 40px;
                order: -1;
            }
        }
    }
}