@use '../_root' as *;

@media (prefers-reduced-motion: reduce) {
    * {
        animation: none !important;
        opacity: 1 !important;
        transition: none !important;
    }
}

@media screen and (min-width: 2560px) {
    html {
        margin: auto;
        max-width: 2560px;
    }
}

@media screen and (max-width: 1920px) {}

@media screen and (max-width: 1600px) {
    .actions {
        height: 340px;
    }

    .actions__headings {
        .actions__headings--container {
            span {
                font-size: $font-6;
            }
        }
    }
}

@media screen and (max-width: 1280px) {
    .actions {
        height: 300px;
    }

    .actions__headings {
        .actions__headings--container {
            span {
                font-size: $font-5;
            }
        }
    }

    .features__part-a {
        padding: 40px 40px;

        .features__part-a--container {
            column-gap: 20px;
        }
    }

    .features__part-b {
        padding: 40px 40px;

        .features__part-b--container {
            column-gap: 20px;
        }
    }
}