@use '../_root' as *;

@media screen and (max-width: 768px) {
    .actions {
        display: none;
    }

    .controls {
        .controls--container {
            grid-template-columns: min-content auto min-content;
        }
    }

    .controls__search {
        display: none;
    }

    .controls__system {
        span {
            right: 115px;
        }

        svg {
            &:nth-of-type(1) {
                display: none;
            }

            &:nth-of-type(2) {
                display: none;
            }
        }
    }

    .features {
        article {
            h2 {
                font-size: $font-4;
            }

            p {
                padding: 0 20px;
            }

            svg {
                font-size: $font-7;
            }
        }
    }

    .features__part-a {
        background: $color-2;
        padding: 20px 40px;
    }

    .features__part-b {
        background: $color-1;
        padding: 20px 40px;
    }

    .footer {
        display: block;
    }

    .footer__legal {
        ul {
            display: block;

            li {
                p {
                    text-align: center;
                }
            }
        }
    }

    .footer__socials {
        text-align: center;
    }

    .hero {
        background: none;
        height: min-content;
        padding: 40px;
    }

    .hero__actions {
        display: none;
    }

    .hero__content {
        animation: none;
        margin: auto;

        article {
            animation-delay: 1s;
            background: none;
            color: $color-5;
            cursor: text;
            font-family: 'SF Pro Display';
            line-height: $font-4;
            margin: 0;
            mix-blend-mode: normal;
            padding: 0;
            text-align: center;
            user-select: text;
            width: 100%;
        }

        h1 {
            display: none;
        }
    }

    .point {
        padding: 20px;
    }

    .point__actions {
        width: min-content;

        a {
            &:nth-of-type(1) {
                padding-right: 20px;
            }

            &:nth-of-type(2) {
                padding-left: 20px;
            }
        }
    }

    .point__map {
        margin-bottom: 20px;
    }

    .point__summary {
        margin-bottom: 20px;
        order: -1;
    }

    .story__content {
        .story__content--item {
            h3 {
                font-size: $font-4;
            }
        }
    }

    #error {
        section {
            h1 {
                font-size: $font-5;
            }
        }
    }

    #fallback {
        section {
            h1 {
                font-size: $font-5;
            }
        }
    }

    #not-found {
        section {
            h1 {
                font-size: $font-5;
            }
        }
    }
}