@use '../_root' as *;

@media screen and (max-width: 768px) {
    .actions {
        display: none;
    }

    .controls {
        .controls--container {
            grid-template-columns: min-content auto min-content;
        }
    }

    .controls__search {
        display: none;
    }

    .controls__system {
        span {
            right: 115px;
        }

        svg {
            &:nth-of-type(1) {
                display: none;
            }

            &:nth-of-type(2) {
                display: none;
            }
        }
    }

    .features {
        article {
            h2 {
                font-size: $font-4;
            }

            p {
                padding: 0 20px;
            }

            svg {
                font-size: $font-7;
            }
        }
    }

    .features__part-a {
        background: $color-2;
        padding: 20px 40px;
    }

    .features__part-b {
        background: $color-1;
        padding: 20px 40px;
    }

    .footer {
        display: block;
    }

    .footer__legal {
        ul {
            display: block;

            li {
                p {
                    text-align: center;
                }
            }
        }
    }

    .footer__socials {
        text-align: center;
    }

    .hero {
        background-position: right 0;
        height: clamp(500px, calc(50dvh - 60px), 1440px);
    }

    .hero__actions {
        display: none;
    }

    .hero__content {
        display: none;
    }

    #error {
        section {
            h1 {
                font-size: $font-5;
            }
        }
    }

    #fallback {
        section {
            h1 {
                font-size: $font-5;
            }
        }
    }

    #not-found {
        section {
            h1 {
                font-size: $font-5;
            }
        }
    }
}