@use '../_root' as *;

@media (prefers-reduced-motion: reduce) {
    * {
        animation: none !important;
        opacity: 1 !important;
        transition: none !important;
    }
}

@media screen and (min-width:1024px) and (max-width: 1280px) {
    #home {
        &.opened {
            .actions__headings {
                .actions__headings--container {
                    span {
                        word-spacing: 1px;

                        &:nth-child(8) {
                            img {
                                padding-left: 5px;
                            }
                        }
                    }
                }
            }

            .collage {
                padding: max(10dvh, 40px) max(5vw, 40px);
            }

            .features {
                article {
                    display: grid;
                    grid-template-areas:
                        'icon heading'
                        'icon content';
                    height: 200px;
                    width: 100%;

                    h2 {
                        align-self: flex-end;
                        font-size: $font-5;
                        grid-area: heading;
                        justify-self: center;
                        margin-bottom: 5px;
                    }

                    p {
                        align-self: flex-start;
                        grid-area: content;
                        margin-top: 5px;
                        padding: 0 40px;
                    }

                    svg {
                        font-size: 150px;
                        grid-area: icon;
                        justify-self: center;
                        margin: 0;
                    }
                }
            }

            .features__part-a {
                padding: 40px 80px;

                .features__part-a--container {
                    flex-direction: column;
                    row-gap: 20px;
                }
            }

            .features__part-b {
                padding: 40px 80px;

                .features__part-b--container {
                    flex-direction: column;
                    row-gap: 20px;

                    article {
                        grid-template-areas:
                            'heading icon'
                            'content icon';
                    }
                }
            }

            .hero {
                padding-left: 40px;
            }
        }
    }
}

@media screen and (min-width:1280px) and (max-width: 1400px) {
    #home {
        &.opened {
            .actions {
                height: 300px;
            }

            .actions__headings {
                .actions__headings--container {
                    span {
                        font-size: $font-5;
                    }
                }
            }

            .features__part-a {
                padding: 40px 40px;

                .features__part-a--container {
                    column-gap: 20px;
                }
            }

            .features__part-b {
                padding: 40px 40px;

                .features__part-b--container {
                    column-gap: 20px;
                }
            }
        }
    }
}

@media screen and (min-width: 2560px) {
    html {
        margin: auto;
        max-width: 2560px;
    }
}

@media screen and (max-width: 1920px) {}

@media screen and (max-width: 1600px) {
    .actions {
        height: 340px;
    }

    .actions__headings {
        .actions__headings--container {
            span {
                font-size: $font-6;
            }
        }
    }

    .point {
        &.opened {
            align-items: center;
            display: flex;
            flex-direction: column;
            gap: 0;

            .point__actions {
                display: flex;
                justify-content: space-evenly;
                margin-bottom: 10px;
                order: -2;
                width: 500px;

                a {
                    margin: 0;
                }
            }

            .point__map {
                margin-bottom: 40px;
            }

            .point__summary {
                margin-bottom: 40px;
                order: -1;
            }
        }
    }
}