@use '../_root' as *;

@media screen and (orientation: landscape) {
    .story__content {
        .story__content--item {
            &:nth-child(2) {
                img {
                    order: 1;
                }

                .story__content--trigger {
                    order: 0;
                }
            }

            &:nth-child(3) {
                img {
                    order: -1;
                }
            }

            &:nth-child(4) {
                img {
                    order: 1;
                }

                .story__content--trigger {
                    order: 0;
                }
            }

            &:nth-child(5) {
                img {
                    order: -1;
                }
            }
        }
    }
}