@use '../_root' as *;

.controls {
    border-bottom: 1px solid $color-6;
    grid-area: controls;
    height: 60px;
}

.controls__navbar {}

.controls__search {}

.controls__system {}

.controls__user {}