@use '../_root' as *;

.controls {
    grid-area: controls;
}

.controls--container {
    align-items: center;
    background: $color-1;
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    height: 60px;
    position: fixed;
    user-select: none;
    width: 100%;
    z-index: 100;
}

.controls__navbar {
    margin: 0 5px;

    svg {
        border-radius: 50%;
        cursor: pointer;
        font-size: $font-5;
        padding: 6px;
        transition:
            background-color 250ms,
            padding 250ms;

        &:hover {
            background: rgba(150, 150, 150, 15%);
        }

        &:active {
            padding: 8px;
        }
    }
}

.controls__search {
    visibility: hidden;
}

.controls__system {
    visibility: hidden;
}

.controls__user {
    visibility: hidden;
}