@use '../_root' as *;

.controls {
    grid-area: controls;
    height: 60px;
}

.controls--container {
    background: $color-1;
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.controls__navbar {}

.controls__search {}

.controls__system {}

.controls__user {}