@use '../_root' as *;

%container {
    column-gap: 40px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 1366px;
}

.features {
    article {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 300px;
        width: 300px;

        h2 {
            font-size: $font-4;
            font-weight: 400;
            letter-spacing: 2px;
            margin-bottom: 20px;
            text-transform: uppercase;
            transition: color 500ms;
            user-select: none;

            &:hover {
                color: $color-4;
            }
        }

        p {
            color: $color-6;
            text-align: center;
        }

        svg {
            font-size: $font-7;
            margin-bottom: 10px;
            transition: scale 500ms;

            &:hover {
                scale: 110%;
            }
        }
    }
}

.features__part-a {
    padding: 40px;

    svg {
        color: $color-b;
    }

    .features__part-a--container {
        @extend %container;
    }
}

.features__part-b {
    background: $color-2;
    padding: 40px;

    svg {
        color: $color-a;
    }

    .features__part-b--container {
        @extend %container;
    }
}