@use '../_root' as *;

.footer {
    cursor: default;
    display: grid;
    grid-template-areas:
        'logo pages socials'
        'divider-1 divider-1 divider-1'
        'divider-2 divider-2 divider-2'
        'legal legal legal';
    grid-template-columns: 250px 1fr 250px;
    grid-template-rows: 60px 10px 10px 60px;
    margin: auto;
    max-width: 1600px;
    padding: 0 80px 40px;
    user-select: none;

    ul {
        list-style-type: none;
    }
}

.footer--divider-1 {
    border-bottom: 1px solid $color-6;
    grid-area: divider-1;
    justify-self: center;
    width: 100%;
}

.footer--divider-2 {
    grid-area: divider-2;
    justify-self: center;
    width: 100%;
}

.footer__legal {
    grid-area: legal;
    margin: auto;

    ul {
        column-gap: 20px;
        display: flex;

        li {
            a {
                color: $color-5;
                text-decoration: underline;
                transition: color 250ms;

                &:visited {
                    color: $color-5;
                }

                &:hover {
                    color: $color-3;
                }
            }
        }
    }
}

.footer__logo {
    align-items: center;
    display: flex;
    grid-area: logo;
    padding: 10px;

    img {
        filter: brightness(95%) hue-rotate(160deg) saturate(70%);
        margin-right: 10px;
        transition: transform 2s ease-in-out;
        width: 40px;

        &:hover {
            transform: rotate(-360deg);
        }
    }

    span {
        color: $color-4;
        cursor: pointer;
        font-family: 'Libre Franklin';
        font-size: $font-3;
        font-weight: 500;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
}

.footer__pages {
    grid-area: pages;
    margin: auto;

    ul {
        column-gap: 10px;
        display: flex;

        li {
            a {
                border-radius: 10px;
                color: $color-5;
                font-size: $font-3;
                font-weight: 600;
                letter-spacing: 4px;
                padding: 5px 10px;
                text-transform: uppercase;
                transition:
                    background-color 250ms,
                    color 250ms;

                &:visited {
                    color: $color-5;
                }

                &:hover {
                    background-color: $color-2;
                    color: $color-3;
                }
            }
        }
    }
}

.footer__socials {
    align-self: center;
    grid-area: socials;
    justify-self: end;

    svg {
        color: $color-5;
        font-size: $font-5;
        margin: 10px;
        transition:
            color 250ms,
            scale 250ms;

        &:hover {
            color: $color-4;
        }

        &:active {
            scale: 90%;
        }
    }
}