@use '../_root' as *;

.form {
    margin: auto;
    max-width: 800px;
    padding: 80px;
    user-select: none;
}

.form__contact {
    background: $color-2;
    padding: 40px;

    form {
        button {
            background: $color-1;
            border: none;
            border-radius: 100px;
            display: block;
            font-size: $font-3;
            margin: auto;
            padding: 10px 0;
            text-align: center;
            text-transform: uppercase;
            transition:
                color 250ms,
                transform 250ms;
            width: 50%;

            &:hover {
                color: $color-3;
            }

            &:active {
                transform: scale(95%);
            }
        }

        h2 {
            color: $color-4;
            cursor: default;
            font-size: $font-5;
            margin-bottom: 20px;
            text-align: center;
        }

        .form__contact--field {
            margin-bottom: 20px;

            &:nth-of-type(2) {
                input {
                    &:invalid {
                        border-color: #d3382f;
                        caret-color: #d3382f;
                    }
                }
            }

            input {
                background: $color-1;
                border: 1px solid $color-1;
                caret-color: $color-3;
                display: block;
                font-size: $font-3;
                outline: none;
                padding: 10px 20px;
                transition: border-color 250ms;
                width: 100%;
                word-spacing: 1px;

                &:focus {
                    border-color: $color-3;
                }
            }

            label {
                color: $color-6;
                display: block;
                font-size: $font-2;
                margin-bottom: 5px;
                width: min-content;
            }

            select {
                appearance: none;
                background-color: $color-1;
                background-image:
                    linear-gradient(45deg, transparent 50%, $color-5 50%),
                    linear-gradient(135deg, $color-5 50%, transparent 50%);
                background-position:
                    calc(100% - 25px) 50%,
                    calc(100% - 20px) 50%;
                background-repeat: no-repeat;
                background-size:
                    5px 5px,
                    5px 5px;
                border: 1px solid $color-1;
                display: block;
                font-size: $font-3;
                outline: none;
                padding: 10px 20px;
                transition: border-color 250ms;
                width: 100%;

                &:focus {
                    border-color: $color-3;
                }
            }

            textarea {
                background: $color-1;
                border: 1px solid $color-1;
                caret-color: $color-3;
                font-size: $font-3;
                height: 200px;
                outline: none;
                padding: 10px 20px;
                transition: border-color 250ms;
                width: 100%;
                word-spacing: 1px;

                &:focus {
                    border-color: $color-3;
                }

                &::-webkit-scrollbar-thumb {
                    background: $color-4;
                }
            }
        }
    }
}