@use '../_root' as *;

@import url(https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400&display=swap);

$color-a: #e76f51;
$color-b: #f4a261;

.hero {
    animation: hero-background 60s 10s ease-in-out infinite alternate;
    background: url(https://images.unsplash.com/photo-1469105692624-86ae1dbf4c23);
    background-attachment: fixed;
    background-position: center 40%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 675px;
    justify-content: center;
    max-height: calc(100vh - 60px);
    padding-left: 150px;
    transition: filter 2s;
    transition-delay: 1s;
    transition-timing-function: ease-in;

    &:hover {
        filter: saturate(110%);
    }
}

.hero__actions {
    animation: hero-reveal 1s 8s ease-out forwards;
    font-family:
        'Source Code Pro',
        'Courier New',
        monospace;
    margin-left: 300px;
    opacity: 0;

    a {
        display: inline-block;
        font-size: $font-3;
        font-weight: bold;
        padding: 10px 30px;
        text-transform: lowercase;
        transition: all 200ms;
        user-select: none;

        &:active {
            transform: scale(95%);
        }

        &:first-child {
            background: $color-b;
            border: 2px solid $color-b;
            color: $color-5;
            margin-right: 50px;

            &:visited {
                color: $color-5;
            }

            &:hover {
                background: $color-a;
                border-color: $color-a;
            }
        }

        &:last-child {
            border: 2px solid $color-b;
            color: $color-b;

            &:visited {
                color: $color-b;
            }

            &:hover {
                background: $color-a;
                border-color: $color-a;
                color: $color-5;
            }
        }
    }
}

.hero__content {
    margin-bottom: 20px;
    max-width: 650px;

    article {
        animation: hero-reveal 1s 6s ease-out forwards;
        background: rgba(255, 255, 255, 3%);
        border-radius: 10px;
        color: $color-b;
        font-family:
            'Source Code Pro',
            'Courier New',
            monospace;
        font-size: $font-3;
        font-weight: 300;
        margin: 20px 0 0 100px;
        mix-blend-mode: exclusion;
        opacity: 0;
        padding: 20px;
        width: 550px;
    }

    h1 {
        animation:
            hero-cursor 5s 0s forwards,
            hero-typing 2s 2s steps(25, end) forwards;
        border-right: 3px solid transparent;
        color: $color-a;
        display: inline-block;
        font-family:
            'Dancing Script',
            cursive;
        font-size: $font-6;
        font-style: italic;
        overflow-x: hidden;
        user-select: none;
        white-space: nowrap;
        width: 0;

        span:first-child {
            animation:
                hero-bug 10s 12s infinite,
                hero-reveal 1s 10s ease-out forwards;
            display: inline-block;
            font-family: 'Noto Emoji';
            opacity: 0;
            transform: scale(-1, 1);
            vertical-align: text-top;
        }

        span:last-child {
            animation: hero-ellipsis 1s 5s infinite;
            font-family: 'Libre Franklin';
            font-weight: 500;
        }
    }
}