@use '../_root' as *;

.hero {}

.hero__content {
    article {
        font-size: $font-3;
    }

    h1 {
        font-family: 'Libre Franklin';
        font-size: $font-6;
        font-style: italic;

        span {
            font-family: 'Noto Emoji';
        }
    }
}

.hero__signup {}