@use '../_root' as *;

.leaderboards {}

.leaderboards__data {
    ol {
        font-size: $font-4;
        list-style-type: none;

        li {
            text-align: center;

            a {
                color: $color-3;

                &:visited {
                    color: $color-3;
                }
            }
        }
    }

    .leaderboards__data--headers {
        color: $color-4;
    }

    .leaderboards__data--spinner {
        align-items: center;
        display: flex;
        height: calc(100dvh - 60px);
        justify-content: center;
        position: fixed;
        width: 100%;

        svg {
            color: $color-4;
        }

        &.loaded {
            display: none;
        }

        &.opened {
            width: calc(100vw - 250px);
        }
    }

    .leaderboards__data--stats {}

}