@use '../_root' as *;

%default {
    background: $color-2;
    grid-area: navbar;
    transition: width 1s;
    z-index: 90;
}

.navbar {
    @extend %default;
    width: 250px;
}

.navbar--closed {
    @extend %default;
    width: 0;
}

.navbar__logo {}

.navbar__pages {}

.navbar__profile {}