@use '../_root' as *;

.point {}

.point__actions {
    display: flex;
    font-size: $font-4;
    justify-content: space-between;
    margin: auto;
    width: 1000px;

    a {
        color: $color-3;

        &:visited {
            color: $color-3;
        }
    }
}

.point__map {
    display: flex;
    justify-content: center;
}

.point__summary {
    font-size: $font-4;
    text-align: center;
}