@use '../_root' as *;

.points {}

.points__table {
    ol {
        font-size: $font-4;
        list-style-type: none;

        li {
            text-align: center;

            a {
                color: $color-3;

                &:visited {
                    color: $color-3;
                }
            }

            svg {
                color: $color-3;
            }
        }
    }
}