@use '../_root' as *;

.profile {
    margin: auto;
    max-width: 1600px;
    padding: 80px;
}

.profile__view {
    align-items: center;
    background: $color-2;
    display: grid;
    grid-template-areas: 'image . details';
    grid-template-columns: 500px 80px 1fr;

    &.opened {
        background: none;
        grid-template-areas:
            'image'
            'details';
        grid-template-columns: 1fr;

        .profile__view--details {
            text-align: center;

            p {
                &:nth-of-type(2) {
                    justify-content: center;
                }
            }
        }

        .profile__view--image {
            margin-bottom: 80px;
        }
    }

    .profile__view--details {
        cursor: default;
        font-family: 'Libre Franklin';
        font-size: $font-4;
        grid-area: details;
        overflow: hidden;
        overflow-wrap: break-word;
        user-select: none;

        a {
            color: $color-3;
            display: block;

            &:visited {
                color: $color-3;
            }

            &:hover {
                text-decoration: underline;
            }

            &:nth-of-type(1) {
                line-height: 35px;
                margin-bottom: $font-3;
            }

            &:nth-of-type(2) {
                width: 100%;
            }
        }

        p {
            &:nth-of-type(1) {
                color: $color-4;
                font-size: $font-5;
                font-weight: 500;
                margin-bottom: $font-3;
                text-transform: uppercase;
            }

            &:nth-of-type(2) {
                align-items: center;
                display: flex;
                font-weight: 200;

                img {
                    height: $font-4;
                }
            }

            &:nth-of-type(3) {
                font-weight: 200;
                margin-bottom: $font-3;
            }

            &:nth-of-type(4) {
                cursor: text;
                font-size: $font-3;
                font-style: italic;
                font-weight: 200;
                margin-bottom: $font-3;
                user-select: text;
            }
        }
    }

    .profile__view--image {
        cursor: pointer;
        grid-area: image;
        height: 500px;
        margin: auto;
        object-fit: contain;
        outline: 1px solid transparent;
        transition: outline 500ms;
        user-select: none;
        width: 500px;

        &:hover {
            outline: 1px solid $color-3;
        }
    }
}