@use '../_root' as *;

.profile {}

.profile__actions {
    font-size: $font-4;
    margin: auto;
    width: 500px;

    a {
        color: $color-3;

        &:visited {
            color: $color-3;
        }
    }
}

.profile__view {
    img {
        display: block;
        margin: auto;
        width: 500px;

        &:first-of-type {
            cursor: pointer;
        }
    }

    p {
        font-size: $font-4;
        text-align: center;
    }

    .profile__view--spinner {
        align-items: center;
        display: flex;
        height: calc(100dvh - 60px);
        justify-content: center;
        position: fixed;
        width: 100%;

        svg {
            color: $color-4;
        }

        &.loaded {
            display: none;
        }

        &.opened {
            width: calc(100vw - 250px);
        }
    }
}