@use '../_root' as *;

.service {
    font-size: $font-3;
    padding: 40px 60px 20px;

    * {
        margin-bottom: 20px;
    }

    a {
        color: $color-3;

        &:visited {
            color: $color-3;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    h4 {
        color: $color-4;
        font-size: $font-5;
        margin-top: 40px;

        &:first-of-type {
            margin-top: 0;
        }
    }

    h5 {
        color: $color-4;
        font-size: $font-4;
        margin-top: 30px;
    }

    h6 {
        color: $color-4;
        font-size: $font-3;
    }

    li {
        &::marker {
            color: $color-3;
        }

        p {
            &:not(:nth-of-type(1)) {
                padding-left: 30px;
            }

            &:nth-of-type(1) {
                display: inline;
            }

            &:nth-of-type(2) {
                margin-top: 15px;
            }
        }
    }

    strong {
        border-bottom: 1px solid currentColor;
    }
}