@use '../_root' as *;

.settings {
    margin: auto;
    max-width: 1600px;
    padding: 80px;
    user-select: none;
}

.settings__form {
    form {
        font-size: $font-3;

        button {
            background: $color-1;
            border: 1px solid $color-3;
            border-radius: 100px;
            display: inline-block;
            font-size: $font-3;
            margin: auto;
            padding: 10px 0;
            text-align: center;
            transition:
                color 250ms,
                transform 250ms;
            width: 45%;

            &:hover {
                color: $color-3;
            }

            &:active {
                transform: scale(95%);
            }

            &:first-of-type {
                margin-right: 5%;
            }

            &:last-of-type {
                margin-left: 5%;
            }
        }

        h2 {
            color: $color-4;
            cursor: default;
            font-size: $font-5;
            margin-bottom: 20px;
            text-align: center;
        }

        .settings__form--field {
            align-items: center;
            display: flex;
            margin-bottom: 20px;

            &:nth-of-type(1) {
                * {
                    color: $color-6;
                    cursor: default;
                }
            }

            &:nth-of-type(2) {
                * {
                    color: $color-6;
                    cursor: default;
                }
            }

            &:nth-of-type(3) {
                * {
                    color: $color-6;
                    cursor: default;
                }
            }

            input {
                flex: 1;
                font-size: $font-3;
                margin-left: 50px;
            }

            label {
                flex-basis: 250px;
                text-align: right;
            }

            select {
                font-size: $font-3;
                width: 50%;
            }

            textarea {
                font-size: $font-3;
                width: 50%;
            }
        }
    }

    .settings__form--spinner {
        align-items: center;
        display: flex;
        height: calc(100dvh - 60px);
        justify-content: center;
        left: 0;
        position: fixed;
        top: 60px;
        transition:
            left 1s,
            width 1s;
        width: 100vw;

        &.loaded {
            display: none;
        }

        &.opened {
            left: 250px;
            width: calc(100vw - 250px);
        }

        svg {
            color: $color-4;
        }
    }
}