* {
    background: #1b2635;
    box-sizing: border-box;
    color: #f3f4f5;
    cursor: default;
    font-family:
        'SF Pro Display',
        'Helvetica Neue',
        sans-serif;
    font-size: 20px;
    margin: 20px;
    user-select: none;
}

::selection {
    background: #898e96,
}

h1 {
    display: inline-block;
    font-size: 40px;
}

table {
    border-collapse: collapse;
    line-height: 40px;
}

td {
    cursor: text;
    user-select: text;
}

th {
    padding: 0 40px;
    text-align: start;
}

@media screen and (max-width: 480px) {
    * {
        margin: 5px;
    }

    th {
        padding: 0 20px 0 0;
    }
}