@use '../_root' as *;

#error {
    section {
        align-items: center;
        background: url(https://images.unsplash.com/photo-1515404929826-76fff9fef6fe);
        background-position: center;
        background-size: cover;
        display: flex;
        height: 100vh;
        justify-content: center;
        user-select: none;

        h1 {
            background: rgba(0, 0, 0, 50%);
            font-size: $font-6;
            opacity: 20px;
            padding: 20px 40px;
        }
    }
}