@use '../_root' as *;

#fallback {
    section {
        align-items: center;
        background: url(https://images.unsplash.com/photo-1559827291-72ee739d0d9a);
        background-position: center 100%;
        background-size: cover;
        display: flex;
        height: 100%;
        justify-content: center;

        h1 {
            background: rgba(0, 0, 0, 50%);
            font-size: $font-6;
            opacity: 20px;
            padding: 20px 40px;
        }
    }
}