$color-1: #264653;
$color-2: #2a9d8f;
$color-3: #e9c46a;
$color-4: #f4a261;
$color-5: #e76f51;
$font-1: 9.89px;
$font-2: 16.00px;
$font-3: 25.89px;
$font-4: 41.89px;
$font-5: 67.77px;
$font-6: 109.66px;