// * { all: initial !important; }
// * { animation: none !important; opacity: 1 !important; transition: none !important; }
// * { background: white !important; border-color: black !important; box-shadow: none !important; color: black !important; filter: grayscale(100%) !important; }
// * { font-family: Arial !important; }
// * { user-select: all !important; }

// .accordions { display: none; }
// .actions { display: none; }
// .collage { display: none; }
// .controls { display: none; }
// .features { display: none; }
// .footer { display: none; }
// .hero { display: none; }
// .policy { display: none; }
// .service { display: none; }