// * { all: initial !important; }
// * { animation: none !important; opacity: 1 !important; transition: none !important; }
// * { background: white !important; border-color: black !important; box-shadow: none !important; color: black !important; filter: grayscale(100%) !important; }
// * { font-family: Arial !important; }
// * { user-select: all !important; }
// *:focus { outline: 4px solid red !important; }
// @media (prefers-color-scheme: dark) { :root { --color-1: #fff; --color-2: #fff; --color-3: #407ad6; --color-4: #d3382f; --color-5: #202021; --color-6: #696a6b; } }

// .controls { display: none; }
// .footer { display: none; }
.hero { display: none; }
// .policy { display: none; }