@use '_root' as *;

@keyframes hero-background {
    10% {
        background-position: center 40%;
    }

    90% {
        background-position: center 100%;
    }

    100% {
        background-position: center 100%;
    }
}

@keyframes hero-bug {
    10% {
        transform: rotate(5deg) scale(-1, 1) translate(-5px);
    }

    15% {
        transform: scale(-1, 1);
    }

    55% {
        transform: scale(-1, 1);
    }

    58% {
        transform: rotate(-3deg) scale(-1, 1) translate(2px);
    }

    60% {
        transform: scale(-1, 1);
    }

    65% {
        transform: scale(-1, 1);
    }

    68% {
        transform: rotate(-3deg) scale(-1, 1) translate(2px);
    }

    70% {
        transform: scale(-1, 1);
    }
}

@keyframes hero-cursor {
    15% {
        border-color: transparent;
    }

    20% {
        border-color: #e76f51;
    }

    95% {
        border-color: #e76f51;
    }

    100% {
        border-color: transparent;
    }
}

@keyframes hero-ellipsis {
    50% {
        opacity: 100%;
    }

    95% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes hero-reveal {
    from {
        visibility: visible;
    }

    to {
        opacity: 100%;
        visibility: visible;
    }
}

@keyframes hero-typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}