@use '_root' as *;

@keyframes actions-bounce {
    0% {
        transform: scale(1, 1) translateY(0);
    }

    10% {
        transform: scale(110%, 90%) translateY(0);
    }

    30% {
        transform: scale(90%, 110%) translateY(calc($font-7 / -3));
    }

    50% {
        transform: scale(105%, 95%) translateY(0);
    }

    60% {
        transform: scale(1, 1) translateY(-10px);
    }

    65% {
        transform: scale(1, 1) translateY(0);
    }

    100% {
        transform: scale(1, 1) translateY(0);
    }
}

@keyframes actions-final {
    0% {
        letter-spacing: 0;
    }

    25% {
        color: $color-4;
        letter-spacing: 0;
    }

    50% {
        opacity: 1;
    }

    75% {
        color: $color-3;
        letter-spacing: 1vw;
    }

    100% {
        color: $color-4;
        letter-spacing: 4px;
        opacity: 1;
    }
}

@keyframes actions-heading {
    25% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }
}

@keyframes actions-reveal {
    0% {
        visibility: visible;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes actions-wink {
    50% {
        transform: rotate(5deg);
    }
}

@keyframes hero-background {
    10% {
        background-position: center 40%;
    }

    90% {
        background-position: center 100%;
    }

    100% {
        background-position: center 100%;
    }
}

@keyframes hero-bug {
    10% {
        transform: rotate(5deg) scale(-1, 1) translate(-5px);
    }

    15% {
        transform: scale(-1, 1);
    }

    55% {
        transform: scale(-1, 1);
    }

    58% {
        transform: rotate(-3deg) scale(-1, 1) translate(2px);
    }

    60% {
        transform: scale(-1, 1);
    }

    65% {
        transform: scale(-1, 1);
    }

    68% {
        transform: rotate(-3deg) scale(-1, 1) translate(2px);
    }

    70% {
        transform: scale(-1, 1);
    }
}

@keyframes hero-cursor {
    15% {
        border-color: transparent;
    }

    20% {
        border-color: #e76f51;
    }

    95% {
        border-color: #e76f51;
    }

    100% {
        border-color: transparent;
    }
}

@keyframes hero-ellipsis {
    50% {
        opacity: 1;
    }

    95% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes hero-reveal {
    from {
        visibility: visible;
    }

    to {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes hero-typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}