@use '_root' as *;

#about {}

#contact {}

#display {
    display: grid;
    grid-template-areas:
        'navbar controls'
        'navbar main';
    grid-template-columns: auto 1fr;
    grid-template-rows: 60px 1fr;
    min-height: 100vh;
}

#guide {}

#home {
    display: block;
}

#map {}

#pins {}

#pins_single {}

#privacy {
    display: block;
}

#profile {}

#profile_single {}

#rankings {}

#terms {}