@use '_root' as *;

#about {
    display: block;
    overflow-x: hidden;
    padding: 0 100px;
}

#account {}

#account_single {}

#contact {
    display: block;
}

#display {
    display: grid;
    grid-template-areas:
        'navbar controls'
        'navbar main';
    grid-template-columns: auto 1fr;
    grid-template-rows: 60px 1fr;
    min-height: 100vh;

    .display__zone {
        background: rgb(0, 0, 0, 75%);
        cursor: pointer;
        display: none;
        height: 100vh;
        position: fixed;
        right: 0;
        transition: background-color 250ms;
        width: 100vw;
        z-index: 150;

        &:active {
            background: rgba(0, 0, 0, 50%);
        }

        .display__zone--closed {
            display: none;
        }
    }
}

#guide {
    display: block;
}

#home {
    display: block;
}

#map {}

#pins {}

#pins_single {}

#privacy {
    display: block;
}

#rankings {}

#terms {
    display: block;
}