@use '_root' as *;

#about {
    display: block;
    overflow-x: hidden;
    padding: 0 100px;
}

#account {}

#account_single {}

#contact {
    display: block;
}

#display {
    display: grid;
    grid-template-areas:
        'navbar controls'
        'navbar main';
    grid-template-columns: auto 1fr;
    grid-template-rows: 60px 1fr;
    min-height: 100vh;
}

#guide {
    display: block;
}

#home {
    display: block;
}

#map {}

#pins {}

#pins_single {}

#privacy {
    display: block;
}

#rankings {}

#terms {
    display: block;
}