@use '../_root' as *;

#error {
    section {
        align-items: center;
        background: url(../../assets/statuses/error.webp);
        background-position: center;
        background-size: cover;
        display: flex;
        height: calc(100dvh - 60px);
        margin: auto;
        max-height: 1440px;
        justify-content: center;
        user-select: none;

        h1 {
            background: rgba(0, 0, 0, 50%);
            font-size: $font-6;
            opacity: 20px;
            padding: 20px 40px;
        }
    }
}