@use '../_root' as *;

.gallery {
    align-items: center;
    background: rgba(0, 0, 0, 75%);
    cursor: pointer;
    display: flex;
    height: calc(100dvh - 60px);
    justify-content: center;
    left: 0;
    position: fixed;
    top: 60px;
    transition: all 1s;
    user-select: none;
    width: 100vw;
    z-index: 100;

    img {
        cursor: default;
        max-height: 90%;
        max-width: 90%;
        object-fit: contain;
    }

    &.closed {
        display: none;
    }

    &.menu {
        left: 250px;
        width: calc(100vw - 250px);
    }
}